@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root{
        --backgrounds: #606060;
        --titles: #AD8330
    }
    h1,h2,h3,h4,h5,h6{
      font-family: "Poppins", sans-serif;
    }
    html {
        font-family: "Poppins", sans-serif;
    }
  }

  @layer components {
    * {
      @apply motion-reduce:transition-none;
    }
  
    html {
      @apply scroll-smooth;
    }
  
    ::-webkit-scrollbar {
      @apply w-[10px];
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
      @apply bg-primary;
    }
  
    /* Handle */
    ::-webkit-scrollbar-thumb {
      @apply bg-secondary2;
    }
  
    .scroll-box span{
      animation: scroll-down 3s infinite;
    }
    
    /* Animate scroll icon */
    @keyframes scroll-down{
      0%{
        transform: translateY(-1rem);
        opacity: 0;
      }
      50%{
        transform: translateY(0);
        opacity: 1;
      }
      100%{
        transform: translateY(.6rem);
        opacity: 0;
      }
    }
 
  }